@{
    ViewData["Title"] = "Home Page";
}

<div>
    <video autoplay muted loop id="video" style="margin: 0 auto;">
        <source src="" type="video/mp4" id="videoSrc">
    </video>
    
    <img src="" alt="" id="img" hidden>
    
</div>

